<section id="section">
    <div class="row text-center ">
        <div class="col align-self-center">
            <h1> {{'intern' | translate}} </h1>
            <p> {{'trying to learn all of things' | translate}} </p>
        </div>
        <div class="col">
                <img style="width: 350px;" src="../../../assets/fati.jpeg" alt="">
        </div>
        <div class="col align-self-center">
            <h1> {{'coder' | translate}} </h1>
            <p>{{'jr. front-end developer who writes  clean, elegant and efficient code' | translate}}.</p>
        </div>
    </div>
</section>