<!-- <div class="container">
    <div class="card">
    <div class="row">
        <div class="col-lg-8 text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius aperiam numquam maxime beatae qui quod asperiores, eum veniam recusandae vitae error sed! Ipsa nobis similique eveniet ea expedita voluptas quaerat natus voluptatibus quibusdam, cupiditate iste suscipit nulla voluptatem quod sed, quidem dolorum. Ullam iste ipsam commodi voluptas ipsa nisi veritatis dolorem? Necessitatibus perspiciatis tenetur voluptatibus. At, incidunt hic voluptatibus tenetur quod nobis necessitatibus recusandae quidem vel exercitationem, ad cum, fugiat illo reiciendis voluptas iusto beatae mollitia nam maiores explicabo sed commodi numquam dolorum atque. Atque sit obcaecati unde similique, modi consectetur recusandae incidunt nulla quis deleniti tempore porro autem error.</p>
        </div>
        <div class="col-lg-4">
            <img src="../../../assets/fb87d3d8-bf86-4a56-883b-bbcbf2f81ea2.jpg" alt="">
        </div>
    </div>
</div>
</div> -->


<section id="section">
    <div class="row text-center ">
        <div class="col align-self-center">
            <h1> intern </h1>
            <p> {{labelone}}  <br>  </p>
        </div>
        <div class="col">
                <img src="../../../assets/fb87d3d8-bf86-4a56-883b-bbcbf2f81ea2.jpg" alt="">
        </div>
        <div class="col align-self-center">
            <h1> {{labelcoder}} </h1>
            <p>jr. front-end developer who writes <br>  clean, elegant and efficient code.</p>
        </div>
    </div>
</section>