@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Press+Start+2P&family=Rubik+Iso&display=swap');

*{
    padding: 10px;
}

section{
  margin-top: 50px;
  
}


.img{
	display: flex;
	justify-content: center;
}

@keyframes rotate {
	0%{
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	width: 275px;
	height: 275px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	font-weight: bold;
	transition: scale 0.3s ease ;
	&:hover{
		scale: 1.1;
		box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
	}
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		transition: all 2s ease; /* Animasyon bittiğinde geri dönüş yavaş olsun */
	}
	
	&:hover::before {
		animation: rotate 1s linear infinite;

	}

	/* Hover'dan çıkıldığında eski haline dönmesi */
	&::before {
		transform: rotate(0deg);
		transition: all 2s ease-in-out; /* Geri dönüş */
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 12px; /* Kenar boşluklarını artır */
		top: 12px; /* Kenar boşluklarını artır */
		width: calc(100% - 24px); /* Toplam genişlikten daha fazla çıkar */
		height: calc(100% - 24px); /* Toplam yükseklikten daha fazla çıkar */
		background: white;
		border-radius: 50%;
	}
}

  
.card{
    background: #464951;
    border-radius: 25px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    box-shadow: 4px 6px black;
}





p,h2,h1{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-weight: 500;
}

.social li{

  display: inline-block;
  width: 49%;
}




@media screen and (max-width:400px) {
	.rainbow{
		width: 150px;
		height: 150px;
	  }
  }
@media screen and (max-width:450px) {
  .text1, .text2{
    font-size: 12px;
  }

}