<section id="section">
<h1 class="text-center">About Me</h1>

    <div class="row text-center text1">
        <div class="col align-self-center">

            <p> {{'Hey there! Im Fatih. I graduated with a degree in MIS. I have about 2 years of experience in software development' | translate}} </p>
        </div>
        <div class="col img">
            <div class="rainbow">
                <img  src="../../../assets/cvpho1.jpg" alt="" style="border-radius: 50%;">
            </div>
        </div>
        <div class="col align-self-center text2">

            <p>{{'web developer who writes  clean, elegant and efficient code' | translate}}.</p>
        </div>
    </div>
</section>