
    <div style="display: flex;justify-content:center;align-items:center" class="row">
        <div class="card col-lg-3">
            <main>
                <div class = "card">
                  <div class="card-content">
                    <h2>
                      Botas Clothe Management
                    </h2>
                    <p>
                        BOTAŞ firması için yapılan kıyafet yönetimi sistemi. CRUD ve veritabanı işlemleri, assign ve birçok işlem barındırıyor.
                    </p>
                    <a href="#" class="button">
                      Daha fazla 
                      <span class="material-symbols-outlined">
                        arrow_right_alt
                      </span>
                    </a>
                  </div>
                </div>
              </main>
        </div>
        <div class="card col-lg-3">
            <main>
                <div class = "card">
                  <div class="card-content">
                    <h2>
                      Card Heading
                    </h2>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
                    </p>
                    <a href="#" class="button">
                      Find out more 
                      <span class="material-symbols-outlined">
                        arrow_right_alt
                      </span>
                    </a>
                  </div>
                </div>
              </main>
        </div>
        <div class="card col-lg-3">
            <main>
                <div class = "card">
                  <div class="card-content">
                    <h2>
                      Card Heading
                    </h2>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
                    </p>
                    <a href="#" class="button">
                      Find out more 
                      <span class="material-symbols-outlined">
                        arrow_right_alt
                      </span>
                    </a>
                  </div>
                </div>
              </main>
        </div>
        <div class="card col-lg-3">
            <main>
                <div class = "card">
                  <div class="card-content">
                    <h2>
                      Card Heading
                    </h2>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
                    </p>
                    <a href="#" class="button">
                      Find out more 
                      <span class="material-symbols-outlined">
                        arrow_right_alt
                      </span>
                    </a>
                  </div>
                </div>
              </main>
        </div>
    </div>
