
<div style="color: white" class="header">
  <h4>{{'my sample projects' | translate}}</h4>
</div>
<div style="display: flex;justify-content:center;align-items:center" class="row">
  <div class=" bot card col-lg-3">
      <main>
          <div class = "iyv card " (click)="openLink('https://github.com/afyildiiz/ai_tool_finder')">
            <div class="card-content">
              <h2>
                {{'AI Tool Finder' | translate}} 
              </h2>
              <p>
                {{'AI Tool Finder is a user-friendly web application that lets you discover the AI tools that best suit your needs.' | translate}}
              </p>
              <a href="#" class="button">
                <!-- Find out more 
                <span class="material-symbols-outlined">
                  arrow_right_alt
                </span> -->
              </a>
            </div>
          </div>
        </main>
  </div>
    <div class="bot card col-lg-3">
        <main>
            <div class = "botas card" (click)="openLink('https://github.com/afyildiiz/e-commerce_final_project')">
              <div class="card-content ">
                <h2 >
                  {{'Electronic E-commerce Site' | translate}}
                </h2>
                <p>
                  {{'The project is designed to facilitate and enrich the lives of customers by providing reliable and innovative solutions in the field of electronics.' | translate}}
                </p>
                <a href="#" class="button">
                  <!-- Daha fazla 
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span> -->
                </a>
              </div>
            </div>
          </main>
    </div>
    <div class="card col-lg-3">
        <main>
            <div class = "yds card " (click)="openLink('https://github.com/afyildiiz/ydsdeneme')">
              <div class="card-content">
                <h2>
                  {{'Exam Portal' | translate}} 
                </h2>
                <p>
                  {{'Students will prepare themselves better for the exams by solving the questions and trial exams of the exam they will take.' | translate}}
                </p>
                <!-- <a href="#" class="button">
                  Find out more 
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span>
                </a> -->
              </div>
            </div>
          </main>
    </div>
    <!-- <div class="card col-lg-3">

    </div> -->
</div>
