
<div style="color: white" class="header">
  <h4>{{'my sample projects' | translate}}</h4>
</div>
<div style="display: flex;justify-content:center;align-items:center" class="row">
    <div class="bot card col-lg-3">
        <main>
            <div class = "botas card">
              <div class="card-content ">
                <h2 >
                  {{'Clothe Management' | translate}}
                </h2>
                <p>
                  {{'Clothing management system for BOTAŞ company. It contains CRUD and database operations, assign and many operations.' | translate}}
                </p>
                <a href="#" class="button">
                  <!-- Daha fazla 
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span> -->
                </a>
              </div>
            </div>
          </main>
    </div>
    <div class=" bot card col-lg-3">
        <main>
            <div class = "iyv card ">
              <div class="card-content">
                <h2>
                  {{'Donate App' | translate}} 
                </h2>
                <p>
                  {{'Adding donor information, assigning donations and adding donation information, and finally viewing the donations made in the spreadsheet with all the details.' | translate}}                    </p>
                <a href="#" class="button">
                  <!-- Find out more 
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span> -->
                </a>
              </div>
            </div>
          </main>
    </div>
    <div class="card col-lg-3">
        <main>
            <div class = "yds card ">
              <div class="card-content">
                <h2>
                  {{'Exam Portal' | translate}} 
                </h2>
                <p>
                  {{'Students will prepare themselves better for the exams by solving the questions and trial exams of the exam they will take.' | translate}}
                </p>
                <!-- <a href="#" class="button">
                  Find out more 
                  <span class="material-symbols-outlined">
                    arrow_right_alt
                  </span>
                </a> -->
              </div>
            </div>
          </main>
    </div>
    <!-- <div class="card col-lg-3">

    </div> -->
</div>
