
<!-- <div class="navbarr">
  <app-navbar></app-navbar>
</div> -->
<div style="padding: 24px;" id="about" class="row">
  <app-about></app-about>
</div>
<!-- <div class="row">
  <app-skills></app-skills>
</div> -->
<div id="projects" class="row" style="margin-top:2rem ; ">
  <app-projects></app-projects>
</div>
<!-- <div id="contact" class="row" style="margin-top:2rem ;">
  <app-contactme></app-contactme>
</div> -->
<div class="row" style="padding: 24px">
  <app-info></app-info>
  <!-- <app-skills></app-skills> -->
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
