<section style="color: white;" id="section">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="division">
      <h1>contact</h1>
      <p>get in touch with me via  social <br> media or email!</p>
    </div>

    <div class="flex-center social">
      <a href="https://github.com/afyildiiz" target="_blank"><i class="fa-brands fa-github fa-4x icon-3d"></i></a>
      <a href="https://www.linkedin.com/in/afyildiiz/" target="_blank"><i class="fa-brands fa-linkedin fa-4x icon-3d"></i></a>
    </div>
    
    <div class="flex-center">
      <a href="https://www.instagram.com/afyildiiz/" target="_blank"><i class="fa-brands fa-instagram fa-4x icon-3d"></i></a>
      <a target="_blank" href="https://medium.com/@afyildiiz"><i class="fa-brands fa-medium fa-4x icon-3d"></i></a>
    </div>
    </div>

    <div class="col-4 ">
      <img src="../../../assets/zfoto.png" style="position: absolute;height: 500px;" alt="fatih_yildiz">
    </div>
  </div>
</section>


<div class="container" style="margin-top:2rem ;">
  <div class="card">
    <div class="header">
      <h4 style="color: rgb(0, 0, 0)"><b>send email</b></h4>
    </div>
    <form [formGroup]="contactForm" >
      <div class="row" style="margin-top: 2rem">
        <div class="col-lg-6">
          <div class="inputbox ">
            <input formControlName="ad_soyad" type="text" required="required" />
            <span>Name </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="inputbox ">
            <input formControlName="email" type="email" required="required" />
            <span>E-mail</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" style="padding: 10px">
          <div class="inputbox ">
            <textarea
              formControlName="mesaj"
              type="text"
              required="required"
            ></textarea>
            <span>Your Message</span>
          </div>
        </div>
      </div>
      <button type="button" (click)="sendEmail()" class="btn btn-primary" [disabled]="!contactForm.valid">Send E-mail</button>
    </form>
  </div>
</div>