<div class="tab_container">
    <input class="input" id="tab1" type="radio" name="tabs" #tab1 checked>
    <label class="label" for="tab1"><span>Safha 1 - Kayıt ve Tasnif</span></label>

    <input class="input" id="tab2" type="radio" name="tabs" #tab2>
    <label class="label" for="tab2"><span>Safha 2 - Analiz ve Ön Değerlendirme</span></label>

    <input class="input" id="tab3" type="radio" name="tabs" #tab3>
    <label class="label" for="tab3"><span>Safha 3 - Takip ve Projelendirme Safha-3a-Takip</span></label>

    <input class="input" id="tab4" type="radio" name="tabs" #tab4>
    <label class="label" for="tab4"><span>Portfolio</span></label>

    <input class="input" id="tab5" type="radio" name="tabs" #tab5>
    <label class="label" for="tab5"><span>Contact</span></label>

    <section id="content1" class="tab-content">

            <div class="form">
                <form class="myform">
                    <div class="control-from">
                        <label>Künye</label>
                        <input class="inputt" type="text" value="" required>
                    </div>
        
                    <div class="control-from">
                        <label>İşin Adı</label>
                        <input class="inputt" type="text" value="" required>
                    </div>
        
                    <div class="control-from">
                        <label >İş No.</label>
                        <input class="inputt" type="text" value="" required>
                    </div>
        
                    <div class="control-from">
                        <label >Kaynak </label>
                        <input class="inputt" type="text"value="" required>
                    </div>
        
                    <div class="control-from">
                        <label>Geliş Tarihi </label>
                        <input class="inputt" type="text"  value="" required>
                    </div>
        
                    <div class="control-from">
                        <label >Tahmini Tutar </label>
                        <input class="inputt" type="text" value="" required>
                    </div>
    
                    <div class="control-from">
                        <label >Olası Katma Değer (Yetenek Kazanım/İyileştirme, Teknoloji Kazanımı/Transferi, İş Birliği, Kar, vb.) </label>
                        <textarea class="inputt" rows="4" type="text" value="" required></textarea>
                    </div>

                    <div class="control-from">
                        <label >İşe İlişkin Açıklama ve Notlar </label>
                        <textarea class="inputt" rows="4" type="text" value="" required></textarea>
                    </div>
        
                    <div class="button">
                        <button (click)="onetoTwo()" id="register">Kaydet ve Devam Et</button>
                    </div>
        
                </form>
            </div>
    </section>

    <section id="content2" class="tab-content">
        <div class="form">
            <form class="myform">
                <div class="control-from">
                    <label>Potansiyel İş Fırsatı Tanımı</label>
                    <input class="inputt" type="text" value="" required>
                </div>
    
                <div class="control-from">
                    <label>Müşteri Değerlendirmesi</label>
                    <input class="inputt" type="text" value="" required>
                </div>
    
                <div class="control-from">
                    <label >Rakipler</label>
                    <input class="inputt" type="text" value="" required>
                </div>
    
                <div class="control-from">
                    <label >Alt Yüklenci/İş Ortağı Adayı </label>
                    <input class="altyuk" type="text" value="" required placeholder="Firma">  <input style="margin-left: 1%;" type="text" class="altyuk">
                </div>
    
                <div class="control-from">
                    <label>Muhtemel Paydaşlar </label>
                    <input class="inputt" type="text"  value="" required>
                </div>
    
                <div class="button">
                    <button (click)="twotoThree()" id="register">Kaydet</button>
                </div>
    
            </form>
        </div>
    </section>

    <section id="content3" class="tab-content">
        <div class="form">
            <form class="myform2">

                <div class="col-lg-12">
                    <h3>Mevcut Durum</h3>
                </div>

                <div class="row" style="margin-top: 1rem;">
                    <div class="d-flex justify-content-center" style="margin-top:2rem">
                        <div class="col-lg-5">
                            <label>Muhtemel Kabiliyet Merkezi (AFGM, TGM, Endüstri vb. belirtilecektir.)</label>
                            <input class="inputt" type="text" value="" required>
                        </div>
            
                        <div class="col-lg-5" style="margin-left: 1%;">
                            <label >Üretim/İş Kapasitesi</label>
                            <input class="inputt" type="text" value="" required>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 3rem;" class="col-lg-12">
                    <h3>Fırsatlar ve Riskler</h3>
                </div>
    
                <div class="row ">
                    <div class="d-flex justify-content-center" style="margin-top:2rem">
                    <div class="col-lg-5">
                        <label>Fırsatlar </label>
                        <input class="inputt" type="text"  value="" required>
                    </div>

    
                <div class="col-lg-5" style="margin-left: 1%">
                    <label >Riskler </label>
                    <input class="inputt" type="text" value="" required>
                </div>
                    </div>

                <div style="margin-top: 2rem;" class="button">
                    <button (click)="threetoFour()" id="register">Kaydet ve Devam Et</button>
                </div>

            </div>

            </form>
        </div>
    </section>

    <section id="content4" class="tab-content">
        <div class="contain">
            <div class="inputbox">
                <input type="text" required="required">
                    <span>ad soyad</span>
            </div>
            <div class="inputbox">
                <input type="text" required="required">
                    <span>ad soyad</span>
                </div>
        </div>
        
    </section>

    <section id="content5" class="tab-content">
        <h3>Headline 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
</div>
<!-- 

<ul>
    <li *ngFor="let pipeline of pipelines" (click)="showItems(pipeline)">
      {{ pipeline.name }}
    </li>
  </ul>
  
  <!-- pipeline'a tıklandığında gösterilecek tablo -->
  <table>
    <thead>
      <tr>
        <th>Item Adı</th>
        <th>Açıklama</th>
        <th>Fiyat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of selectedPipelineItems">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </tbody>
  </table> -->

<!-- 
<table>
    <tr >
        <td> {{selectedHero?.name| uppercase}} </td>
        <td> id: {{selectedHero?.id}} </td>
        <td></td>
    </tr>
</table> -->
<!-- </ng-template> -->