@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}


.nav-link{
  font-weight: 200;
  transition: 0.3s ease-in;
  &:hover{
    font-weight: 600;
  }
}








.optionbox{
  position: absolute;
  right: 0;
  transform: translate(-50%,-50%);
}

.optionbox select {
    background: #acacac;
    color: #fff;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 48px rgb(93, 15, 9);
    -webkit-appearance: button;
    outline: none;
    cursor: pointer;
}

  @media screen and (max-width:1000px) {
    .optionbox, .optionbox select{
      left: 25%;
      margin-top: 1em;
      position: relative;
    }
    .optionbox:before,.optionbox:hover:before{
      display: none;
    }
  }

















