

  .background {
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background:url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/0/8/8905/red-rocks-park-o.jpg') -25px -50px;
    background-size: cover;
    background-position: center;
    animation: none;
  }

  
  
  