<div class="background" [ngStyle]="{'background-position': backgroundPosition}">
    <div class="description ">

    <p>{{"In addition to my frontend experience, I am continuously developing myself in the backend area and carrying out projects with a special focus on artificial intelligence areas such as NLP and LLM. In this way, I gain experience in providing efficient and smart solutions that maximize the user experience. With my dynamic, open and curious nature, I am able to learn quickly and show my creativity in projects."| translate }}</p>

    </div>
</div>

<!-- <div class="background" >
    <div class="description " style="width: 220px;">
        Hey there! I'm Fatih. I'm a 4th year MIS student. Since 2022, I have been doing an internship in the field of Front-end in a software company. In this area, we usually do our work using angular.
    </div>
</div> -->