<div class="background" [ngStyle]="{'background-position': backgroundPosition}">
    <div class="description ">

    <h5>Skills:</h5>
        <h6> • Programming Languages and Frameworks</h6>
            <p>
                    Angular, Flask, Django, FastApi, Javascript, Typescript, HTML, CSS, Python
                    <!-- {{'A proactive team player with the ability to learn quickly, I entered the business world through internships on my own initiative, showcasing technical skills acquired from both school and independent endeavors. Expert in front-end development, actively expanding back-end knowledge through various resources.' | translate}} -->
            </p>
        <h6> • Programming Common Practices</h6>
        <p>
            Docker, Git, databases (MySQL, PostgreSQL)	
        </p>
        <h6> • Other</h6>
        <p>
            Excel, SAP(MM&SD), Selenium, VMs, Linux, Network(fundamental) 
        </p>

    </div>
</div>

<!-- <div class="background" >
    <div class="description " style="width: 220px;">
        Hey there! I'm Fatih. I'm a 4th year MIS student. Since 2022, I have been doing an internship in the field of Front-end in a software company. In this area, we usually do our work using angular.
    </div>
</div> -->